
.item-form{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
  width: 30rem;
  border: 5px solid transparent;
  border-radius: 0.5rem;
}


.card-gradient{
  background: rgb(251,131,1);
background: linear-gradient(270deg, rgba(251,131,1,1) 0%, rgba(255,190,10,1) 100%);
}

